.carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.carousel-button {
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    font-size: 24px;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-button:hover {
    background-color: #252525;
}

.carousel-images {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    max-width: 100%;
}

.carousel-image {
    width: 100%;
    max-height: 624px;
    transition: transform 0.3s;
}

.prev {
    position: absolute;
    left: 0;
}

.next {
    position: absolute;
    right: 0;
}